repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      language_version: python3.9
-   repo: https://github.com/pycqa/pylint
    rev: v2.13.8
    hooks:
    - id: pylint
